[package]
name = "wikitool"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
dotenvy.workspace = true
serde_json.workspace = true
wikitool_core = { path = "../wikitool_core" }
